<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>1-Chef sign in</title>
</head>
<body>
<div id="ID1-Admin_sign_in">
	<img id="e049cbf3-3a6b-4e33-8253-37fbcc" src="assets/logo.png" >
		
	<div style="text-align:center">
		<form (submit)="onLoginChef()">
			<div class="form-group">
				<div class="col-lg-10">
					<input class="form-control"[(ngModel)]="email" placeholder="Email" name="email">
				</div>
			  
			
			  <div class="form-group">
				
				<div class="col-lg-10">
				   <input type="password" class="form-control" [(ngModel)]="password" placeholder="Password" name="password" >
				</div>
			  </div>
			  <div class="form-group">
				<label>liste des Parcs </label><br>
				<select size="1" class="form-control" [(ngModel)]="parc" name="parc">
						<option *ngFor="let parc of Parc" [value]="parc.name">{{parc.name}}</option>
				</select>
				
		</div>
			</div>
			
			<button id="btn1" type="submit" class="btn btn-primary">Se connecter</button>
		</form>
		
	</div>
</div>
</body>
</html>
