<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>1-Admin sign in</title>
</head>
<body>
<div id="ID1-Admin_sign_in">
	<svg class="Rectangle_164_n">
		<linearGradient id="Rectangle_164_n" spreadMethod="pad" x1="0" x2="0" y1="0" y2="1">
			<stop offset="0" stop-color="#8280ff" stop-opacity="1"></stop>
			<stop offset="1" stop-color="#7e96ff" stop-opacity="1"></stop>
		</linearGradient>
		<rect id="Rectangle_164_n" rx="0" ry="0" x="0" y="0" width="800" height="960">
		</rect>
	</svg>
	<img id="e049cbf3-3a6b-4e33-8253-37fbcc" src="assets/logo.png" >
		
	<div id="text">
		<svg class="Rectangle_163">
			<rect id="Rectangle_163" rx="477" ry="477" x="0" y="0" width="1132" height="960">
			</rect>
		</svg>
		<div id="text_s">
			<svg class="Rectangle_163_t">
				<rect id="Rectangle_163_t" rx="0" ry="0" x="0" y="0" width="1132" height="1000">
				</rect>
			</svg>
			<form (submit)="onLoginChef()">
				
			<div id="label">
				<div class="form-group">
					<label class="col-lg-2 control-label">Email</label>
					<div class="col-lg-10">
					  <input id="input" type="email" class="form-control"[(ngModel)]="email"name="email" >
					</div>
				  </div>
				
				  <div class="form-group">
					<label class="col-lg-2 control-label">Password</label>
					<div class="col-lg-10">
					  <input id="input"type="password" class="form-control" [(ngModel)]="password" name="password" >
					</div>
				  </div>
				  <div class="form-group">
					<label>liste des Parcs </label><br>
					<select size="1" class="form-control" [(ngModel)]="parc" name="parc">
							<option *ngFor="let parc of Parc" [value]="parc.name">{{parc.name}}</option>
					</select>
					
			</div>
				</div>
				
				<button id="btn1" type="submit" class="btn btn-primary">Se connecter</button>
			</form>
			
		</div>
	</div>
	<div id="Se_connecter_">
		<span>Se connecter</span>
	</div>
</div>
</body>
</html>
