
	
	 body {
        background: #E78200;
        background: -webkit-linear-gradient(to right, #e7e7e7, #E78200);
        background: linear-gradient(to right, #e7e7e7,  #E78200);
        min-height: 100vh;
        overflow-x: hidden;
      }
	  #btn1{
		border-radius: 12px;
		background-color:#27313B;
	  color:#e7e7e7 ;
	  border: 2px solid #27313B;
	  padding: 14px 40px;
	  text-align: center;
	  font-weight: bold;
	  font-size: 12px;
	  margin-left:30px;
	  align-items: center;
	
	}
	
	  input{
		color: white;
		padding: 14px 100px;
		margin: 8px 10px;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		text-align:center;
		text-align: center;
	  font-weight: bold;
	  font-size: 17px;
	  }
	  
	  
	  div {
		border-radius: 5px;
		padding: 10px;
		align-items: center;
	  }
	 
	