.thead {
  background-color:#E78200;
  color: white;
}

.table {
  margin-left: -150px;
}

.h {
  margin-left: -135px;
}

/* The sidenav */
.sidenav {
height: 100%;
width: 250px;
text-align: unset;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color:#E4E4E4;
overflow-x: hidden;
padding-top: 20px;
}


/* The navigation menu links */
.sidenav a {

color:#27313B;
}

.center {
display: flex;
justify-content: center;
align-items: center;
height: 200px;

}

.button {
background-color:#27313B; 
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
border-radius: 5px;
font-size: 16px;
}




.sidenav a:hover {
color: #000000;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.main {
margin-left: 600px; /* Same as the width of the sidebar */
padding: 0px 10px;
margin-top: 250px;
font-size: 20px;
}

.main p{
font-size: 30px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

#btn1{
    border-radius: 12px;
    background-color:#e7e7e7;
  color:#27313B;
  border: 2px solid #27313B;
  padding: 14px 40px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-left:30px;

}

#btn4 {
  border-radius: 12px;
      background-color:#e7e7e7;
    color:#27313B;
    border: 2px solid #27313B;
    padding: 14px 49px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-left:30px;
    
  
  }
  #btn3{
      border-radius: 12px;
      background-color:#e7e7e7;
    color:#27313B;
    border: 2px solid #27313B;
    padding: 14px 40px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-left:30px;
    
    }
    #btn5{
      background-color:#27313B; 
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      border-radius: 5px;
      font-size: 16px;
      
    }

#btn2{
    border-radius: 12px;
    background-color:#e7e7e7;
  color:#27313B;
  border: 2px solid #27313B;
  padding: 14px 65px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-left:30px;

}
th{text-align: center;}
body {
  background: #E78200;
  background: -webkit-linear-gradient(to right, #e7e7e7, #E78200);
  background: linear-gradient(to right, #e7e7e7,  #E78200);
  min-height: 100vh;
  overflow-x: hidden;
}

table {
  margin-left: auto;
  margin-right: auto;
}
a{color:white}
